/*----------------------------------------*/
/*  1.1 Scrool to Top start
/*----------------------------------------*/
.scrollToTop {
    display: none !important;
    height: 55px;
    width: 55px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(90deg, rgba(255, 254, 254, 0.08) 0%, rgba(0, 0, 0, 0.342) 50%, rgba(255, 254, 254, 0.08) 100%);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    border: 1px solid #ffffff2a;
    transition: 0.5s ease all;
    backdrop-filter: blur(30px);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 767px) {
    .scrollToTop {
        height: 40px;
        width: 40px;
    }
}

.scrollToTop.active-progress {
    display: block !important;
}

.scrollToTop:hover {
    transform: translateY(-15%);
}

.scrollToTop .arrowUp {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-100);
    font-size: 24px;
}

.scrollToTop .arrowUp i {
    font-size: 19px;
    color: var(--tp-white-color);
}

.scrollToTop .water {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    background-color: var(--error);
    transition: all 0.3s;
    border: 1px solid var(--error);
}

.scrollToTop .water svg use {
    margin-bottom: -1px;
    position: relative;
    bottom: -1px;
    fill: var(--error) !important;
}

.scrollToTop-2 .water {
    background-color: var(--error);
    border: 1px solid var(--error);
}

.scrollToTop-2 .water svg use {
    fill: var(--error) !important;
}

.scrollToTop-3 .water {
    background-color: var(--error);
    border: 1px solid var(--error);
}

.scrollToTop-3 .water svg use {
    fill: var(--error) !important;
}

.scrollToTop-4 .water {
    background-color: var(--error);
    border: 1px solid var(--error);
}

.scrollToTop-4 .water svg use {
    fill: var(--error) !important;
}

.scrollToTop .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
}

.scrollToTop .water_wave_back {
    right: 0;
    fill: var(--error);
    animation: wave-back 1.4s infinite linear;
}

.scrollToTop .water_wave_front {
    left: 0;
    fill: rgba(122, 37, 158, 0.8784313725);
    margin-bottom: -1px;
    animation: wave-front 0.7s infinite linear;
}

@keyframes wave-front {
    100% {
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@keyframes wave-back {
    100% {
        transform: translateX(50%);
    }
}

/*----------------------------------------*/
/*  1.1 Scrool to Top start End
/*----------------------------------------*/